html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    height: 200vh;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .75s ease;
}

.modal {
    width: 80%;
    max-width: 560px;
    height: auto;
    background-color: #fff;
    display: block;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal-header {
    background-color: #0A294C;
    padding: 15px;
}

.modal-header h3 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;

}

.modal-container.hide {
    opacity: 0;
    display: none;
}

.modal.hide {
    display: none;
    opacity: 0;
    top: 0;
}

.modal-container.show {
    opacity: 1;
    display: block;
}

.modal.show {
    opacity: 1;
    top: 50%;
    display: block;
}

.modal-body {
    margin: 0 15px;
    font-size: 1.2em;
    text-align: justify;
}

.modal-body form {
    padding: 15px;
}

.modal-body input {
    display: block;
    margin: 0 auto;
}

.modal-body input[type="email"] {
    border: 1px solid #777;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    width: 60%;
    font-size: 1.15em;
}

.modal-body input[type="button"] {
    margin-top: 15px;
}

.modal-body input[type="submit"] {
    background-color: #FFAF00;
    border: none;
    color: #fff;
    padding: 10px 50px;
}

.no-button {
    border: none;
    background: transparent;
    color: #777;
}

.no-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
}

.visible {
    display: block;
    opacity: 1;
}